# data-database-types-non-relational-NoSQL-MongoDB-JSON-BSON-document-method-update
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-mongodb/blob/main/adb-mongodb.ipynb#top)
***

- **method** - **update** - **modifies** - relational_rows-records-tuples - mongodb_**documents** - in a - relational_table-entity-relation - mongodb_**collection** [1]

- **parameter** - **query** - **selection** **criteria** to be **updated** [1]

 - **parameter** - **update** - **modification** to **be** **applied** [1]

- **optional** **parameter** - **options** - can be **used** to **change** the **way** the - **method** - **update** - **works** [1]

```json
update(query,update,options)
```

```json
> show databases;
admin    0.000GB
config   0.000GB
demo1    0.000GB
local    0.000GB
mdb      0.000GB
myNewDB  0.000GB
```

```json
> use mdb;
switched to db mdb
```

```json
> db;
mdb
```

```json
> show collections;
mydoc
user
```

```json
> db.mydoc.find();
{ "_id" : 1, "name" : "Tom", "age" : 37 }
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29 }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

- **update** - relational_rows-records-tuples - mongodb_**documents** - **name** - name - **value** - Tom - **name** - name - **value** - Mary - to **both** **have** an **address** - relational_column-attribute-field - mongodb_**attribute** - **name** - address - **value** - Galway [1]


- **first** **parameter** - **query** - **find** **all** - relational_rows-records-tuples - mongodb_**documents** - **operator** - **or** - returns true - expressions are true - **name** - name - **value** - Tom - **name** - name - **value** - Mary [1]


- **operator** - **or** - **evaluates** **one** or **more** **expressions** - **returns** **true** - **if** **any** of the **expressions** are **true** [1]

```json
{$or:[{"name":"Tom"},{"name":"Mary}]}
```

- **second** **parameter** - **update** - **modification** **to** **be** **applied** [1]

```json
{"address":"Galway"}
```

```json
> db.mydoc.update({$or:[{"name":"Tom"},{"name":"Mary"}]},{"address":"Galway"});
WriteResult({ "nMatched" : 1, "nUpserted" : 0, "nModified" : 1 })
```

- **undesirable** **output** - **optional** **parameter** - **can** **change** **default** **behaviour** of - **method** - **update** [1]


- **optional** **parameter** - **multi** - by **default** - is **set** to **false** - **only** **first** - relational_row-record-tuple - mongodb_**document** - **updated** [1]

```json
{ "_id" : 1, "address" : "Galway" }
```

```json
> db.mydoc.find();
{ "_id" : 1, "address" : "Galway" }
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29 }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

```json
> db.mydoc.drop();
true
```

```json
> show collections;
user
```

 ```json
> db.mydoc.save([{"_id":1,"name":"Tom","age":37},
... {"_id":2,"name":"Bill","age":44},
... {"_id":3,"name":"Mary","age":29},
... {"_id":4,"name":"Susan","age":37},
... {"_id":5,"name":"Sean","age":54},
... {"_id":6,"name":"Luke"}]);
BulkWriteResult({
        "writeErrors" : [ ],
        "writeConcernErrors" : [ ],
        "nInserted" : 6,
        "nUpserted" : 0,
        "nMatched" : 0,
        "nModified" : 0,
        "nRemoved" : 0,
        "upserted" : [ ]
})
```

```json
> show collections;
mydoc
user
```

```json
> db.mydoc.find();
{ "_id" : 1, "name" : "Tom", "age" : 37 }
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29 }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

- **second** **parameter** - **update** - **modification** to be **applied** - **operator** - **set** - **replaces** the **value** of a - relational_column-attribute-field - mongodb_**attribute** - **with** the **specified** **value** [1]


- **if** the - relational_column-attribute-field - mongodb_**attribute** - **does** **not** **exist** - **operator** - **set** - **adds** a **new** - relational_column-attribute-field - mongodb_**attribute** - **with** the **specified** - **value** [1]

```json
{$set:{"address":"Galway"}}
```

- **optional** **parameter** - **options** - **change** **default** **behaviour** of - **method** - **update** [1]


- **supply** **values** for the - **parameter** - **options** - **multi** - **set** to **true** - **method** - **update** - **modifies** **all** - relational_rows-records-tuples - mongodb_**documents** - **that** **satisfies** **criteria** - **query** - by default - multi - is set to false [1]

```json
{multi:true}
```

- relational_rows-records-tuples - mongodb_**documents** - **matching** the - **query** - **have** a **new** - relational_column-attribute-field - mongodb_**attribute** - **name** - address - **value** - Galway [1]

```json
> db.mydoc.update({$or:[{"name":"Tom"},{"name":"Mary"}]},{$set:{"address":"Galway"}},{multi:true});
WriteResult({ "nMatched" : 2, "nUpserted" : 0, "nModified" : 2 })
```

```json
> db.mydoc.find();
{ "_id" : 1, "name" : "Tom", "age" : 37, "address" : "Galway" }
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29, "address" : "Galway" }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

```json
> db.emp.save([{"_id":1,"name":"Tom","experience":17},
... {"_id":2,"name":"Bill","experience":3},
... {"_id":3,"name":"Mary","experience":5},
... {"_id":4,"name":"Susan","experience":13}]);
BulkWriteResult({
        "writeErrors" : [ ],
        "writeConcernErrors" : [ ],
        "nInserted" : 4,
        "nUpserted" : 0,
        "nMatched" : 0,
        "nModified" : 0,
        "nRemoved" : 0,
        "upserted" : [ ]
})
```

```json
> show collections;
emp
mydoc
user
```

```json
> db.emp.find();
{ "_id" : 1, "name" : "Tom", "experience" : 17 }
{ "_id" : 2, "name" : "Bill", "experience" : 3 }
{ "_id" : 3, "name" : "Mary", "experience" : 5 }
{ "_id" : 4, "name" : "Susan", "experience" : 13 }
```

- **add** - relational-column-attribute-field - mongodb_**attribute** - **name** - title - **value** - Manager - **to** **all** - relational_rows-records-tuples - mongodb_**documents** - **whereby** - **name** - experience - **value** - **operator** - **gt** - **greater** **than** twenty [1]


- **parameter** - **query** - if **none** **exist** - **create** a **new** - relational_row-record-tuple - mongodb_**document** - **with** - relational_column-attribute-field - mongodb_**attribute** - **name** - title - **value** - Manager [1]

```json
{"experience":{$gt:20}}
```

- **parameter** - **update** - **contains** - relational_row-record-tuple - mongodb_**document** - to be updated - **operator** - **set** - **add** a **new** - relational-column-attribute-field - mongodb_**attribute** - **if** one does **not** **already** **exist** [1]

```json
{$set:{"title":"Manager"}}
```

- **parameter** - **options** - **multi** - **true** - **update** **all** - relational_rows-records-tuples - mongodb_**documents** - that **match** the - **query** [1]


- **upsert** - **true** - **if** **no** - relational_rows-records-tuples - mongodb_**documents** - **match** - **query** - then **create** a **new** - relational_row-record-tuple - mongodb_**document** - **based** on the - **parameter** - **update** [1]

```json
{multi:true,upsert:true}
```

```json
> db.emp.update({"experience":{$gt:20}},{$set:{"title":"Manager"}},{multi:true,upsert:true});
WriteResult({
        "nMatched" : 0,
        "nUpserted" : 1,
        "nModified" : 0,
        "_id" : ObjectId("5f0dbefac74695a1897a0f37")
})
```

- **no** - relational_rows-records-tuples - mongodb_**documents** - **match** - **parameter** - **query** [1]


- **options** - **upsert** - **true** - **new** - relational_row-record-tuple - mongodb_**document** - **created** **with** - **name** - title - **value** - Manager [1]

```json
{ "_id" : ObjectId("5f0dbefac74695a1897a0f37"), "title" : "Manager" }
```

```json
> db.emp.find();
{ "_id" : 1, "name" : "Tom", "experience" : 17 }
{ "_id" : 2, "name" : "Bill", "experience" : 3 }
{ "_id" : 3, "name" : "Mary", "experience" : 5 }
{ "_id" : 4, "name" : "Susan", "experience" : 13 }
{ "_id" : ObjectId("5f0dbefac74695a1897a0f37"), "title" : "Manager" }
```

***
# END