# data-database-types-non-relational-NoSQL-MongoDB-JSON-BSON-document-method-deleteOne
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-mongodb/blob/main/adb-mongodb.ipynb#top)
***

- **method** - **deleteOne** - **removes** a **single** - relational_row-record-tuple - mongodb_**document** - from a - relational_table-entity-relation - mongodb_**collection** [1]

```json
> show databases;
admin    0.000GB
config   0.000GB
demo1    0.000GB
local    0.000GB
mdb      0.000GB
myNewDB  0.000GB
```

```json
> use mdb;
switched to db mdb
```

```json
> db;
mdb
```

```json
> show collections;
emp
mydoc
user
```

```json
> db.mydoc.find();
{ "_id" : 1, "name" : "Tom", "age" : 37 }
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29 }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

- **delete** - **single** - relational_row-record-tuple - mongodb_**document** - **whereby** - relational_column-attribute-field - mongodb_**attribute** - **name** - age - **value** - **operator** - **lt** - **less** **than** - forty [1]

- **deletes** **only** **one** - relational_row-record-tuple - mongodb_**document** [1]

```json
{ "_id" : 1, "name" : "Tom", "age" : 37 }
```

```json
> db.mydoc.deleteOne({"age":{$lt:40}});
{ "acknowledged" : true, "deletedCount" : 1 }
```

```json
> db.mydoc.find();
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29 }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

***
# END