# data-database-types-non-relational-NoSQL-MongoDB-JSON-BSON-document-method-sort
> [TABLE OF CONTENTS](https://nbviewer.jupyter.org/github/SeanOhAileasa/adb-mongodb/blob/main/adb-mongodb.ipynb#top)
***

- **method** - **sort** - **return** in a **specific** **order** - **parameter** - **query** - that **matches** **existing** - relational_rows-records-tuples - mongodb_**documents** [1]

- **when** a **sort** is **performed** on a - relational_column-attribute-field - mongodb_**attribute** - that is **not** **an** **index** - **sorts** the **result** in **memory** [1]

- **sort** **result** in **memory** - **consumption** **more** **than** **32MB** of memory - **aborts** the **sort** - to **avoid** this **error** **create** an **index** **supporting** the **sort** **operation** [1]

```json
> show dbs;
admin    0.000GB
config   0.000GB
demo1    0.000GB
local    0.000GB
mdb      0.000GB
myNewDB  0.000GB
```

```json
> use mdb;
switched to db mdb
```

```json
> db;
mdb
```

```json
> show collections;
mydoc
user
```

```json
> db.user.find();
{ "_id" : 1, "fname" : "John", "sname" : "Smith", "age" : 22, "email" : "john@gmail.com" }
{ "_id" : 2, "fname" : "Sean", "sname" : "Williams", "age" : 30, "email" : "williamss@gmail.com" }
{ "_id" : 3, "fname" : "Albert", "sname" : "O'Hara", "age" : 27, "email" : "al@hotmail.com", "twitter" : "@al1234" } { "_id" : 4, "fname" : "Mary", "sname" : "Collins", "age" : 22 }
{ "_id" : 5, "fname" : "Susan", "sname" : "Hanly", "age" : 18, "email" : "susie@hotmail.com", "twitter" : "@Susi2u" }
```

- **return** - relational_rows-records-tuples - mongodb_**documents** - that **have** - relational_column-attribute-field - mongodb_**attribute** - **name** - twitter - **operator** - **exists** - true - in the - relational_table-entity-relation - mongodb_**collection** - user [1]

```json
db.user.find({"twitter":{$exists:true}})
```

- **return** - relational_rows-records-tuples - mongodb_**documents** - in **ascending** **alphabetically** **order** - relational_column-attribute-field - mongodb_**attribute** - **name** - sname [1]


- **within** this **order** - **descend** **by** **order** oldest to youngest - relational_column-attribute-field - mongodb_**attribute** - **name** - age - two people with same surname then the oldest to be returned first [1]


- **method** - **sort** - takes as **parameter** - **name** - sname - name - age - as names **to** **sort** **on** - **value** - **1** - indicates **ascending** order - **value** - **minus** **1** - indicated **descending** order [1]

```json
.sort({"sname":1,"age":-1})
```

```json
> db.user.find({"twitter":{$exists:true}}).sort({"sname":1,"age":-1});
{ "_id" : 5, "fname" : "Susan", "sname" : "Hanly", "age" : 18, "email" : "susie@hotmail.com", "twitter" : "@Susi2u" }

{ "_id" : 3, "fname" : "Albert", "sname" : "O'Hara", "age" : 27, "email" : "al@hotmail.com", "twitter" : "@al1234" }
```

***
# END